<%= form_with(model: greeting) do |form| %>
  <% if greeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(greeting.errors.count, "error") %> prohibited this greeting from being saved:</h2>

      <ul>
        <% greeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :greetings %>
    <%= form.text_field :greetings %>
  </div>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
